<md-dialog flex="75%" style="min-height: 75%;" aria-label="Data Center Comparision">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Resource Utilization Accross Data Centers</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon class="glyphicon glyphicon-remove-circle" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content >
      <highchart id="chart1" config="chartConfig"></highchart>
    </md-dialog-content>
</md-dialog>