<nav class="navbar navbar-inverse">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Service Center</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
        <form class="navbar-form navbar-left">
          <div class="form-group">
            <label class="label">Tenant</label>
            <input type="text" class="form-control tenant">
            <button>&gt;</button>
          </div>
        </form>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
</nav>
 <!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li>
            <img class="logo" src="images/sc.png" height="80px" width="200px">
        </li>
        <li>
            <a ui-sref="sc.allServices"  ui-sref-active="active">Services</a>
        </li>
        <li>
            <a ui-sref="sc.allInstances" ui-sref-active="active">Instances</a>
        </li>
    </ul>
</div>
<div class="content">
  <div ui-view="base"></div>
</div>
